<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <div class="mdl-card mdl-cell mdl-cell--12-col">
        <div class="mdl-card__supporting-text">
            <h4>{{title}}</h4>
            <p class="question">{{{question}}}</p>
            <p class="attribute">{{attribute}}</p>
        </div>
        <div class="mdl-card__actions">
            <a href="{{link}}" class="mdl-button mdl-color-text--primary">Read more</a>{{! mdl-color-text--accent }}
        </div>
    </div>
    {{#if menu}}
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
            <i class="material-icons">more_vert</i>
        </button>
        <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right">
            {{#each items}}
                <li class="mdl-menu__item">{{this}}</li>
            {{/each}}
        </ul>
    {{/if}}
</section>
